<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <kumar_globalconfig>
            <general>
                <enabled>1</enabled>
                <primary_color>#000000</primary_color>
                <secondary_color>#ffffff</secondary_color>
                <text_color>#222222</text_color>
                <border_color>#dddddd</border_color>
                <page_background>#ffffff</page_background>
            </general>
            <typography>
                <body_font_family>inherit</body_font_family>
                <body_font_size>16px</body_font_size>
                <body_line_height>1.5</body_line_height>
                <body_font_weight>400</body_font_weight>
                <body_color>#222222</body_color>
                <heading_color>#222222</heading_color>
                <heading_font_weight>600</heading_font_weight>
            </typography>
            <header>
                <background_color>#ffffff</background_color>
                <text_color>#222222</text_color>
                <link_color>#222222</link_color>
                <link_hover_color>#000000</link_hover_color>
                <border_color>#dddddd</border_color>
                <icon_color>#222222</icon_color>
            </header>
            <navigation>
                <background_color>#ffffff</background_color>
                <text_color>#222222</text_color>
                <hover_background>#f5f5f5</hover_background>
                <hover_text>#000000</hover_text>
                <active_text>#000000</active_text>
                <dropdown_background>#ffffff</dropdown_background>
                <dropdown_text>#222222</dropdown_text>
            </navigation>
            <footer>
                <background_color>#ffffff</background_color>
                <text_color>#222222</text_color>
                <heading_color>#222222</heading_color>
                <link_color>#222222</link_color>
                <link_hover_color>#000000</link_hover_color>
                <border_color>#dddddd</border_color>
            </footer>
            <buttons>
                <primary_background>#000000</primary_background>
                <primary_text>#ffffff</primary_text>
                <primary_hover_background>#333333</primary_hover_background>
                <primary_hover_text>#ffffff</primary_hover_text>
                <secondary_background>#ffffff</secondary_background>
                <secondary_text>#222222</secondary_text>
                <secondary_hover_background>#f5f5f5</secondary_hover_background>
                <secondary_hover_text>#222222</secondary_hover_text>
                <border_color>#000000</border_color>
                <border_radius>4px</border_radius>
                <height>auto</height>
                <font_weight>600</font_weight>
            </buttons>
            <forms>
                <background>#ffffff</background>
                <text_color>#222222</text_color>
                <border_color>#cccccc</border_color>
                <hover_border>#999999</hover_border>
                <focus_border>#000000</focus_border>
                <focus_shadow>#000000</focus_shadow>
                <placeholder_color>#777777</placeholder_color>
                <label_color>#222222</label_color>
                <error_border>#e02b27</error_border>
                <error_text>#e02b27</error_text>
            </forms>
            <messages>
                <success_background>#e5f6e9</success_background>
                <success_text>#287a3d</success_text>
                <error_background>#fce8e6</error_background>
                <error_text>#c62828</error_text>
                <warning_background>#fff4d6</warning_background>
                <warning_text>#8a6500</warning_text>
                <notice_background>#eef4ff</notice_background>
                <notice_text>#315a9b</notice_text>
            </messages>
            <links>
                <color>#000000</color>
                <hover_color>#333333</hover_color>
                <visited_color>#000000</visited_color>
                <underline>0</underline>
            </links>
            <product>
                <name_color>#222222</name_color>
                <name_hover_color>#000000</name_hover_color>
                <card_background>#ffffff</card_background>
                <card_border>#dddddd</card_border>
                <card_hover_border>#999999</card_hover_border>
                <price_color>#222222</price_color>
                <special_price_color>#d32f2f</special_price_color>
                <old_price_color>#777777</old_price_color>
                <rating_color>#f5a623</rating_color>
                <swatch_border>#cccccc</swatch_border>
                <selected_swatch_border>#000000</selected_swatch_border>
                <sale_badge_background>#d32f2f</sale_badge_background>
                <sale_badge_text>#ffffff</sale_badge_text>
                <new_badge_background>#000000</new_badge_background>
                <new_badge_text>#ffffff</new_badge_text>
            </product>
            <breadcrumbs>
                <background>#ffffff</background>
                <text_color>#777777</text_color>
                <link_color>#555555</link_color>
                <hover_color>#000000</hover_color>
                <current_color>#222222</current_color>
                <separator_color>#999999</separator_color>
            </breadcrumbs>
            <pagination>
                <text_color>#222222</text_color>
                <background>#ffffff</background>
                <active_background>#000000</active_background>
                <active_text>#ffffff</active_text>
                <hover_background>#f5f5f5</hover_background>
                <hover_text>#000000</hover_text>
                <border_color>#dddddd</border_color>
            </pagination>
            <modal>
                <background>#ffffff</background>
                <title_color>#222222</title_color>
                <text_color>#222222</text_color>
                <border_color>#dddddd</border_color>
                <close_icon_color>#222222</close_icon_color>
                <overlay_color>#000000</overlay_color>
                <border_radius>4px</border_radius>
                <width>auto</width>
            </modal>
            <loader>
                <overlay_color>#ffffff</overlay_color>
                <loader_color>#000000</loader_color>
                <text_color>#222222</text_color>
            </loader>
            <accessibility>
                <focus_outline_color>#000000</focus_outline_color>
                <focus_shadow_color>#000000</focus_shadow_color>
                <disabled_background>#eeeeee</disabled_background>
                <disabled_text>#999999</disabled_text>
                <disabled_border>#dddddd</disabled_border>
            </accessibility>
            <layout>
                <page_background>#ffffff</page_background>
                <content_background>#ffffff</content_background>
                <section_background>#ffffff</section_background>
                <container_max_width>1200px</container_max_width>
                <global_border_radius>4px</global_border_radius>
            </layout>
            <global_text>
                <enabled>1</enabled>
                <header_text></header_text>
                <footer_text></footer_text>
                <copyright_text></copyright_text>
                <custom_text></custom_text>
            </global_text>
        </kumar_globalconfig>
    </default>
</config>
